.git/
*.zip
config/local.php
tests/
# keep the test database in the image here
!tests/BaseWithSomeBooks/
tests/BaseWithSomeBooks/.calnotes/backup/
tests/BaseWithSomeBooks/.calnotes/retired/
tests/BaseWithSomeBooks/.caltrash/
tests/BaseWithSomeBooks/metadata_db_prefs_backup.json
vendor/
# remove docker files
docker/
docker-compose*.yaml
# remove development files
.vscode/
.sonarcloud.properties
.sonarlint/
.yarn/
#!.yarn/releases
#!.yarn/plugins
.yarnrc.yml
.pnp.*
yarn.lock
.editorconfig
.gitattributes
.gitremotes
# remove unused directories
tools/
clover.xml
coverage/
*.cache
cache/*.php
rector.php
templates/twigged5/
