/coverage/*
/vendor/
/clover.xml
/tests/text.*
/*.phar
/cops.zip
/cops-*.zip
/cops.sublime-*
/config_local.php
/config_local.*.php
.yarn/*
#!.yarn/releases
#!.yarn/plugins
.yarnrc.yml
.pnp.*
.editorconfig
.gitattributes
*.cache
.devcontainer
/cache/*.php
rector.php
