/coverage/*
/vendor/
/clover.xml
/tests/text.*
/*.phar
/cops.zip
/cops-*.zip
/cops.sublime-*
/config_local.php
/config_local.*.php
cops_folders.php
.yarn/*
#!.yarn/releases
#!.yarn/plugins
.yarnrc.yml
.pnp.*
yarn.lock
.editorconfig
.gitattributes
*.cache
.devcontainer
/cache/*.php
rector.php
.vscode/
.sonarcloud.properties
.sonarlint/
