includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - .
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - vendor/*
        - test/Sauce.php
        - resources/php-epub-meta/vendor/*
