# baseline re-generated with level 4 to keep some issues visible on higher levels
# at the time this file was updated there are 0 errors reported for levels 5 to 6
includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - .
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - vendor/*
        - resources/adminer/sqlite.php
        - tests/WebDriverTestCase.php
        - tests/WebDriverTest.php
        - tests/Framework/CopsControllerTest.php
        - tests/Framework/CopsServiceProviderTest.php
        - tests/Framework/LaravelAdapterTest.php
        - tests/Framework/SlimAdapterTest.php
        - tests/Framework/SymfonyAdapterTest.php
        - src/Framework/Adapter/LaravelAdapter.php
        - src/Framework/Adapter/SlimAdapter.php
        - src/Framework/Adapter/SymfonyAdapter.php
        - src/Framework/Action/CopsAction.php
        - src/Framework/Controller/CopsController.php
        - src/Framework/Providers/CopsServiceProvider.php
