parameters:
	ignoreErrors:
		-
			message: "#^Static method SebLucas\\\\Cops\\\\Calibre\\\\Annotation\\:\\:forgetAboutConvertAnnotations\\(\\) is unused\\.$#"
			count: 1
			path: src/Calibre/Annotation.php

		-
			message: "#^PHPDoc type string\\|null of property SebLucas\\\\Cops\\\\Calibre\\\\Format\\:\\:\\$id is not covariant with PHPDoc type int\\|null of overridden property SebLucas\\\\Cops\\\\Calibre\\\\Base\\:\\:\\$id\\.$#"
			count: 1
			path: src/Calibre/Format.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: src/Calibre/Metadata.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getElementsByTagName\\(\\)\\.$#"
			count: 1
			path: src/Calibre/Metadata.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 3
			path: src/Handlers/LoaderHandler.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/Handlers/LoaderHandler.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/Output/DotPHPTemplate.php

		-
			message: "#^Call to an undefined method SebLucas\\\\Cops\\\\Pages\\\\Page\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: src/Output/JsonRenderer.php

		-
			message: "#^Comparison operation \"\\>\" between 0 and 0 is always false\\.$#"
			count: 1
			path: src/Output/JsonRenderer.php

		-
			message: "#^Property SebLucas\\\\Cops\\\\Output\\\\BaseRenderer\\:\\:\\$response \\(SebLucas\\\\Cops\\\\Output\\\\Response\\) in empty\\(\\) is not falsy\\.$#"
			count: 1
			path: src/Output/Zipper.php
