<div class="container-fluid">
    <div class="row">
        {% for entry in it.entries %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-half-padding">
            <div class="panel panel-default">
                {% if it.page == 19 %}
                    <div class="panel-heading">
                        {{entry.title|escape}}
                    </div>
                    <div class="panel-body">
                        {{entry.content|raw}}
                    </div>
                {% else %}
                    {% if entry.navlink == "#" and entry.number == "" %}
                        <!-- fixme: show as separator on larger screens? -->
                        <div class="panel-heading">
                            {{entry.title|escape}}
                        </div>
                    {% else %}
                        <a href="{{entry.navlink}}">
                            <div class="panel-body">
                                {{entry.title|escape}}
                                <span class="badge pull-right">{{entry.number}}</span>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if it.isPaginated == 1 %}
    <ul class="pager">
        <li class="{% if it.prevLink == "" %}disabled{% endif %}"><a id="prevLink" href="{{it.prevLink}}"><span class="glyphicon glyphicon-chevron-left"></span>{{it.c.i18n.previousAlt}}</a></li>
        <li> {{it.currentPage}} / {{it.maxPage}} </li>
        <li class="{% if it.nextLink == "" %}disabled{% endif %}"><a id="nextLink" href="{{it.nextLink}}">{{it.c.i18n.nextAlt}}<span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>
{% endif %}
