.panel-body { padding: 5px; }

.bottomright {position:absolute; bottom:0;  margin-bottom:25px; right: 20px;}

/* Magnific Popup customization for full height images */
.cops-full-height .mfp-container {
    padding: 0 !important;
}

.cops-full-height img.mfp-img {
    max-height: 100vh !important;
    padding: 0 !important;
}