<!DOCTYPE html>
<html>

<head>
    <!-- in pseudo doT syntax, but only these variables are replaced -->
	<title>{{=it.title}}</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="icon" type="image/png" href="{{=it.dist}}/img/favicon.png">
	<link rel="stylesheet" href="{{=it.dist}}/css/main.css?v={{=it.version}}">

	<!-- Libs -->
	<script src="{{=it.dist}}/js/libs/jszip.min.js?v={{=it.version}}"></script>
	<script src="{{=it.dist}}/js/libs/md5.min.js?v={{=it.version}}"></script>
	<script src="{{=it.dist}}/js/libs/epub.min.js?v={{=it.version}}"></script>

	<!-- Reader -->
	<script src="{{=it.dist}}/js/epubreader.js?v={{=it.version}}"></script>

	<!-- Initialize bookPath and settings -->
	<script>
		// string containing the initial book path - link / to get content from file /{component}
		const bookPath = "{{=it.link}}";
		// js object containing the initial settings (use text for template variable)
		const settings = {{=it.settings}};
		/**
		 * See https://github.com/mikespub-org/intity-epubjs-reader/issues/2#issuecomment-2043469571
		 * for examples
		 * 
		{
			arrows: "content", // none | content | toolbar - depending on this.isMobile
			restore: true,
			history: true,
			openbook: true,
			language: "en",
			sectionId: undefined,
			bookmarks: [],   // array | false
			annotations: [], // array | false
			flow: "paginated", // paginated | scrolled
			spread: {
				mod: "auto", // auto | none
				min: 800
			},
			styles: {
				fontSize: 100
			},
			pagination: undefined, // not implemented
			fullscreen: document.fullscreenEnabled // default behaviour
		}
		*/
		window.onload = (e) => {
			epubreader.main(bookPath, settings);
			e.stopPropagation();
		};
	</script>
</head>

<body>
</body>

</html>
